* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.v5_12 {
  width: 100%;
  height: 218px;
  background: rgba(45,45,45,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_14 {
  width: 100%;
  height: 134px;
  background: rgba(45,45,45,1);
  opacity: 1;
  position: absolute;
  top: 890px;
  left: 0px;
  overflow: hidden;
}
.v5_10 {
  width: 100%;
  height: 746px;
  background: rgba(76,76,76,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 0px;
  overflow: hidden;
}
.v5_0 {
  width: 474px;
  height: 103px;
  background: rgba(252,221,54,1);
  opacity: 1;
  position: absolute;
  top: 732px;
  left: 60%;
  border-top-left-radius: 20000px;
  border-top-right-radius: 20000px;
  border-bottom-left-radius: 20000px;
  border-bottom-right-radius: 20000px;
  overflow: hidden;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}

.v5_2 {
  width: 474px;
  height: 103px;
  background: rgba(252,221,54,1);
  opacity: 1;
  position: absolute;
  top: 679px;
  left: 15%;
  border-top-left-radius: 20000px;
  border-top-right-radius: 20000px;
  border-bottom-left-radius: 20000px;
  border-bottom-right-radius: 20000px;
  overflow: hidden;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}

.v5_4 {
  width: 302px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 269px;
  left: 64%;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v5_30 {
  width: 474px;
  height: 93px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 543px;
  left: 15%;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5_11 {
  width: 302px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 303px;
  left: 19%;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v5_22 {
  width: 474px;
  height: 93px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 361px;
  left: 60%;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5_24 {
  width: 474px;
  height: 93px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 60%;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}

.name {
  color: #fff;
}
.v5_6 {
  width: 100%;
  height: 77px;
  background: url("../images/v5_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 136px;
  overflow: hidden;
}
.v5_5 {
  width: 192px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 82px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v5_7 {
  width: 74px;
  height: 77px;
  background: rgba(232,106,14,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v5_41 {
  width: 142px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 0%;
  left: 15%;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_42 {
  width: 214px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 0%;
  left: 25%;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_43 {
  width: 154px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 0%;
  left: 40%;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_45 {
  width: 109px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 0%;
  left: 60%;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_8 {
  width: 25px;
  color: rgba(192,83,5,1);
  position: absolute;
  top: 23px;
  left: 32px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_9 {
  width: 26px;
  background: url("../images/v5_9.png");
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 50px;
  border: 5px solid rgba(111,111,111,1);
  transform: rotate(-26deg);
}
.v5_32 {
  width: 474px;
  height: 93px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 407px;
  left:15%;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5_26 {
  width: 474px;
  height: 93px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 603px;
  left: 60%;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v5_36 {
  width: 355px;
  color: rgba(0,0,0,0.5600000023841858);
  position: absolute;
  top: 512px;
  left: 62%;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_37 {
  width: 355px;
  color: rgba(0,0,0,0.5600000023841858);
  position: absolute;
  top: 636px;
  left: 62%;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v5_34 {
  width: 355px;
  color: rgba(0,0,0,0.5600000023841858);
  position: absolute;
  top: 394px;
  left: 62%;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_38 {
  width: 355px;
  color: rgba(0,0,0,0.5600000023841858);
  position: absolute;
  top: 437px;
  left: 17%;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_39 {
  width: 355px;
  color: rgba(0,0,0,0.5600000023841858);
  position: absolute;
  top: 581px;
  left: 17%;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v54_2 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_73 {
  width: 100%;
  height: 229px;
  background: rgba(45,45,45,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_74 {
  width: 100%;
  height: 878px;
  background: rgba(76,76,76,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 0px;
  overflow: hidden;
}
.v28_75 {
  width: 100%;
  height: 879px;
  background: rgba(76,76,76,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 229px;
  left: 20px;
  overflow: hidden;
}
.v28_140 {
  width: 357px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 764px;
  left: 200px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v28_141 {
  width: 414px;
  height: 103px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 812px;
  left: 166px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v28_142 {
  width: 193px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 824px;
  left: 286px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v28_137 {
  width: 415px;
  height: 129px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 599px;
  left: 165px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v28_138 {
  width: 330px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 533px;
  left: 200px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v28_139 {
  width: 193px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 625px;
  left: 269px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v28_135 {
  width: 457px;
  height: 120px;
  background: rgba(9,178,36,1);
  opacity: 1;
  position: absolute;
  top: 669px;
  left: 968px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v28_136 {
  width: 338px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 715px;
  left: 1110px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v28_129 {
  width: 638px;
  height: 99px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 404px;
  left: 894px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v28_131 {
  width: 674px;
  color: rgba(0,0,0,0.5600000023841858);
  position: absolute;
  top: 432px;
  left: 944px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v28_132 {
  width: 638px;
  height: 98px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 533px;
  left: 894px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v28_134 {
  width: 588px;
  color: rgba(0,0,0,0.5600000023841858);
  position: absolute;
  top: 564px;
  left: 944px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v28_128 {
  width: 851px;
  color: rgba(255,137,0,1);
  position: absolute;
  top: 286px;
  left: 830px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v28_80 {
  width: 437px;
  height: 180px;
  background: rgba(76,76,76,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 253px;
  left: 166px;
  overflow: hidden;
}
.v28_84 {
  width: 178px;
  height: 139px;
  background: url("../images/v28_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 384px;
  border-top-left-radius: 694px;
  border-top-right-radius: 694px;
  border-bottom-left-radius: 694px;
  border-bottom-right-radius: 694px;
  overflow: hidden;
}
.v28_87 {
  width: 100%;
  height: 81px;
  background: url("../images/v28_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 185px;
  overflow: hidden;
}
.v28_88 {
  width: 259px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 111px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v28_89 {
  width: 100px;
  height: 81px;
  background: rgba(232,106,14,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v28_90 {
  width: 191px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 8px;
  left: 587px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v28_91 {
  width: 288px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 8px;
  left: 824px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v28_92 {
  width: 207px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 8px;
  left: 1161px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v28_93 {
  width: 106px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 8px;
  left: 1416px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v28_94 {
  width: 34px;
  color: rgba(192,83,5,1);
  position: absolute;
  top: 24px;
  left: 44px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v28_95 {
  width: 34px;
  background: url("../images/v28_95.png");
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 69px;
  border: 5px solid rgba(111,111,111,1);
  transform: rotate(-21deg);
}
.v28_113 {
  width: 170px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 289px;
  left: 214px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v28_124 {
  width: 115px;
  color: url("../images/v28_124.png");
  position: absolute;
  top: 344px;
  left: 214px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v28_143 {
  width: 288px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 472px;
  left: 200px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_2 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_3 {
  width: 100%;
  height: 218px;
  background: rgba(45,45,45,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_4 {
  width: 100%;
  height: 836px;
  background: rgba(76,76,76,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 0px;
  overflow: hidden;
}
.v14_5 {
  width: 100%;
  height: 836px;
  background: rgba(76,76,76,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 0px;
  overflow: hidden;
}
.v28_3 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 757px;
  left: 1006px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v28_4 {
  width: 471px;
  height: 60px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 691px;
  left: 786px;
  overflow: hidden;
}
.v28_5 {
  width: 99px;
  height: 60px;
  background: rgba(9,178,36,1);
  opacity: 1;
  position: absolute;
  top: 691px;
  left: 786px;
  overflow: hidden;
}
.v28_8 {
  width: 495px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 651px;
  left: 791px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_135 {
  width: 669px;
  height: 363px;
  background: rgba(76,76,76,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 771px;
  overflow: hidden;
}
.v28_14 {
  width: 76px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 518px;
  left: 1036px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v28_15 {
  width: 21px;
  height: 22px;
  background: rgba(255,232,152,1);
  opacity: 1;
  position: absolute;
  top: 525px;
  left: 829px;
  overflow: hidden;
}
.v28_16 {
  width: 157px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 518px;
  left: 872px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_133 {
  width: 233px;
  height: 226px;
  background: url("../images/v14_133.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 254px;
  left: 1149px;
  border-top-left-radius: 694px;
  border-top-right-radius: 694px;
  border-bottom-left-radius: 694px;
  border-bottom-right-radius: 694px;
  overflow: hidden;
}
.v14_131 {
  width: 76px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 512px;
  left: 480px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_132 {
  width: 76px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 577px;
  left: 480px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_22 {
  width: 100%;
  height: 77px;
  background: url("../images/v14_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 137px;
  overflow: hidden;
}
.v14_23 {
  width: 192px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 83px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v14_24 {
  width: 74px;
  height: 77px;
  background: rgba(232,106,14,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v14_25 {
  width: 142px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 436px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v14_26 {
  width: 214px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 612px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v14_27 {
  width: 154px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 862px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v14_28 {
  width: 79px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 1051px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v14_29 {
  width: 25px;
  color: rgba(192,83,5,1);
  position: absolute;
  top: 23px;
  left: 33px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_30 {
  width: 26px;
  background: url("../images/v14_30.png");
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 51px;
  border: 5px solid rgba(111,111,111,1);
  transform: rotate(-26deg);
}
.v14_116 {
  width: 309px;
  height: 123px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 277px;
  left: 282px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v14_117 {
  width: 487px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 242px;
  left: 201px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v28_12 {
  width: 265px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 312px;
  left: 841px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_119 {
  width: 144px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 301px;
  left: 359px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v28_10 {
  width: 322px;
  height: 99px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 801px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v28_11 {
  width: 144px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 369px;
  left: 888px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v27_2 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 758px;
  left: 394px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v14_121 {
  width: 21px;
  height: 22px;
  background: rgba(66,174,0,1);
  opacity: 1;
  position: absolute;
  top: 481px;
  left: 829px;
  overflow: hidden;
}
.v14_122 {
  width: 21px;
  height: 22px;
  background: rgba(255,232,152,1);
  opacity: 1;
  position: absolute;
  top: 584px;
  left: 306px;
  overflow: hidden;
}
.v14_123 {
  width: 21px;
  height: 22px;
  background: rgba(195,0,0,1);
  opacity: 1;
  position: absolute;
  top: 515px;
  left: 306px;
  overflow: hidden;
}
.v14_124 {
  width: 144px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 479px;
  left: 872px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_125 {
  width: 118px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 577px;
  left: 349px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_126 {
  width: 76px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 512px;
  left: 349px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_127 {
  width: 76px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 479px;
  left: 1036px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v14_136 {
  width: 224px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 250px;
  left: 855px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v14_138 {
  width: 403px;
  height: 118px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 814px;
  left: 240px;
  overflow: hidden;
}
.v14_140 {
  width: 403px;
  height: 118px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 814px;
  left: 824px;
  overflow: hidden;
}
.v14_141 {
  width: 212px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 845px;
  left: 406px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v14_142 {
  width: 226px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 847px;
  left: 923px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v14_143 {
  width: 115px;
  color: rgba(255,137,0,1);
  position: absolute;
  top: 400px;
  left: 303px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v26_1 {
  width: 471px;
  height: 60px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 692px;
  left: 189px;
  overflow: hidden;
}
.v26_3 {
  width: 379px;
  height: 60px;
  background: rgba(9,178,36,1);
  opacity: 1;
  position: absolute;
  top: 692px;
  left: 189px;
  overflow: hidden;
}
.v26_6 {
  width: 330px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 652px;
  left: 194px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v28_144 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 712px;
  left: 380px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v28_145 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 711px;
  left: 816px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v4_1 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_46 {
  width: 100%;
  height: 218px;
  background: rgba(45,45,45,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_161 {
  width: 566px;
  height: 582px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 771px;
  overflow: hidden;
}
.v5_48 {
  width: 100%;
  height: 836px;
  background: rgba(76,76,76,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 0px;
  overflow: hidden;
}
.v14_178 {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 557px;
  left: 849px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v5_62 {
  width: 100%;
  height: 77px;
  background: url("../images/v5_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 137px;
  overflow: hidden;
}
.v5_63 {
  width: 192px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 83px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v5_64 {
  width: 74px;
  height: 77px;
  background: rgba(232,106,14,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v5_65 {
  width: 142px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 436px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_66 {
  width: 214px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 612px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_67 {
  width: 154px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 862px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_68 {
  width: 109px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 1051px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_69 {
  width: 25px;
  color: rgba(192,83,5,1);
  position: absolute;
  top: 23px;
  left: 33px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_70 {
  width: 26px;
  background: url("../images/v5_70.png");
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 51px;
  border: 5px solid rgba(111,111,111,1);
  transform: rotate(-26deg);
}
.v5_110 {
  width: 678px;
  height: 761px;
  background: rgba(76,76,76,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 263px;
  left: 0px;
  overflow: hidden;
}
.v14_177 {
  width: 596px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 218px;
  left: 70px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v14_159 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 766px;
  left: 25px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v14_160 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 348px;
  left: 25px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v14_169 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 618px;
  left: 820px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v14_170 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 865px;
  left: 822px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v5_99 {
  width: 318px;
  height: 310px;
  background: url("../images/v5_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 333px;
  left: 82px;
  overflow: hidden;
}
.v5_100 {
  width: 199px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 334px;
  left: 457px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_101 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 407px;
  left: 455px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_102 {
  width: 318px;
  height: 310px;
  background: url("../images/v5_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 82px;
  overflow: hidden;
}
.v5_103 {
  width: 199px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 729px;
  left: 459px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_104 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 802px;
  left: 457px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_163 {
  width: 207px;
  height: 174px;
  background: url("../images/v14_163.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 601px;
  left: 857px;
  overflow: hidden;
}
.v14_164 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 601px;
  left: 1101px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v14_165 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 642px;
  left: 1100px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v14_166 {
  width: 209px;
  height: 175px;
  background: url("../images/v14_166.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 816px;
  left: 855px;
  overflow: hidden;
}
.v14_167 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 824px;
  left: 1102px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v14_168 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 865px;
  left: 1101px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v14_151 {
  width: 474px;
  height: 93px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 445px;
  left: 820px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v14_153 {
  width: 501px;
  color: rgba(0,0,0,0.5600000023841858);
  position: absolute;
  top: 471px;
  left: 857px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_157 {
  width: 460px;
  height: 114px;
  background: rgba(9,178,36,1);
  opacity: 1;
  position: absolute;
  top: 281px;
  left: 822px;
  overflow: hidden;
}
.v14_158 {
  width: 315px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 326px;
  left: 929px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_2 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_79 {
  width: 100%;
  height: 218px;
  background: rgba(45,45,45,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_80 {
  width: 100%;
  height: 836px;
  background: rgba(76,76,76,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 0px;
  overflow: hidden;
}
.v14_148 {
  width: 566px;
  height: 582px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 771px;
  overflow: hidden;
}
.v5_113 {
  width: 100%;
  height: 836px;
  background: rgba(76,76,76,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 0px;
  overflow: hidden;
}
.v5_114 {
  width: 474px;
  height: 93px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 431px;
  left: 818px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5_116 {
  width: 501px;
  color: rgba(0,0,0,0.5600000023841858);
  position: absolute;
  top: 457px;
  left: 855px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_117 {
  width: 474px;
  height: 93px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 553px;
  left: 818px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5_119 {
  width: 355px;
  color: rgba(0,0,0,0.5600000023841858);
  position: absolute;
  top: 583px;
  left: 855px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_120 {
  width: 678px;
  height: 761px;
  background: rgba(76,76,76,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 257px;
  left: 8px;
  overflow: hidden;
}
.v5_121 {
  width: 170px;
  height: 201px;
  background: url("../images/v5_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 311px;
  left: 127px;
  overflow: hidden;
}
.v5_122 {
  width: 199px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 334px;
  left: 457px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_123 {
  width: 225px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 407px;
  left: 445px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_124 {
  width: 338px;
  height: 205px;
  background: url("../images/v5_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 534px;
  left: 117px;
  overflow: hidden;
}
.v5_125 {
  width: 199px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 546px;
  left: 457px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_126 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 619px;
  left: 455px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_81 {
  width: 100%;
  height: 77px;
  background: url("../images/v5_81.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 137px;
  overflow: hidden;
}
.v5_82 {
  width: 192px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 83px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v5_83 {
  width: 74px;
  height: 77px;
  background: rgba(232,106,14,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v5_84 {
  width: 142px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 436px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_85 {
  width: 214px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 612px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_86 {
  width: 154px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 862px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_87 {
  width: 109px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 1051px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_88 {
  width: 25px;
  color: rgba(192,83,5,1);
  position: absolute;
  top: 23px;
  left: 33px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_89 {
  width: 26px;
  background: url("../images/v5_89.png");
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 51px;
  border: 5px solid rgba(111,111,111,1);
  transform: rotate(-26deg);
}
.v5_135 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 584px;
  left: 25px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v5_137 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 348px;
  left: 25px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v5_138 {
  width: 170px;
  height: 201px;
  background: url("../images/v5_138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 784px;
  left: 141px;
  overflow: hidden;
}
.v5_139 {
  width: 199px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 807px;
  left: 471px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_140 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 880px;
  left: 469px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_171 {
  width: 50px;
  height: 100px;
  background: url("../images/v14_171.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 734px;
  left: 927px;
  overflow: hidden;
}
.v14_172 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 745px;
  left: 1024px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v14_173 {
  width: 171px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 782px;
  left: 1024px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v5_142 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 858px;
  left: 33px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v14_145 {
  width: 460px;
  height: 114px;
  background: rgba(9,178,36,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 820px;
  overflow: hidden;
}
.v14_146 {
  width: 315px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 312px;
  left: 927px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_147 {
  width: 596px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 218px;
  left: 70px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v14_174 {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 677px;
  left: 863px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v14_40 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_41 {
  width: 100%;
  height: 218px;
  background: rgba(45,45,45,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_42 {
  width: 100%;
  height: 836px;
  background: rgba(76,76,76,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 0px;
  overflow: hidden;
}
.v28_19 {
  width: 339px;
  height: 114px;
  background: rgba(9,178,36,1);
  opacity: 1;
  position: absolute;
  top: 394px;
  left: 1063px;
  overflow: hidden;
}
.v28_20 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 429px;
  left: 1128px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_60 {
  width: 100%;
  height: 77px;
  background: url("../images/v14_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 137px;
  overflow: hidden;
}
.v14_61 {
  width: 192px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 83px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v14_62 {
  width: 74px;
  height: 77px;
  background: rgba(232,106,14,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v14_63 {
  width: 142px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 436px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v14_64 {
  width: 214px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 612px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v14_65 {
  width: 154px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 862px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v14_66 {
  width: 109px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 1051px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v14_67 {
  width: 25px;
  color: rgba(192,83,5,1);
  position: absolute;
  top: 23px;
  left: 33px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v14_68 {
  width: 26px;
  background: url("../images/v14_68.png");
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 51px;
  border: 5px solid rgba(111,111,111,1);
  transform: rotate(-26deg);
}
.v14_149 {
  width: 893px;
  height: 577px;
  background: url("../images/v14_149.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 372px;
  left: 129px;
  border-top-left-radius: 54px;
  border-top-right-radius: 54px;
  border-bottom-left-radius: 54px;
  border-bottom-right-radius: 54px;
  overflow: hidden;
}
.v14_150 {
  width: 715px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 250px;
  left: 125px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}


