* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_0 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_12 {
  width: 100%;
  height: 218px;
  background: rgba(45,45,45,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_14 {
  width: 100%;
  height: 134px;
  background: rgba(45,45,45,1);
  opacity: 1;
  position: absolute;
  top: 890px;
  left: 0px;
  overflow: hidden;
}
.v5_10 {
  width: 100%;
  height: 746px;
  background: rgba(76,76,76,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 0px;
  overflow: hidden;
}
.v5_0 {
  width: 474px;
  height: 103px;
  background: rgba(252,221,54,1);
  opacity: 1;
  position: absolute;
  top: 732px;
  left: 200px;
  border-top-left-radius: 20000px;
  border-top-right-radius: 20000px;
  border-bottom-left-radius: 20000px;
  border-bottom-right-radius: 20000px;
  overflow: hidden;
}
.v5_16 {
  width: 373px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 755px;
  left: 270px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v5_2 {
  width: 401px;
  height: 103px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 679px;
  left: 54px;
}
.v5_17 {
  width: 207px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 702px;
  left: 176px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v5_4 {
  width: 302px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 269px;
  left: 287px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v5_30 {
  width: 474px;
  height: 93px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 543px;
  left: 14px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5_11 {
  width: 302px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 303px;
  left: 104px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v5_22 {
  width: 474px;
  height: 93px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 361px;
  left: 195px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5_24 {
  width: 474px;
  height: 93px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 195px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v5_36 {
  width: 355px;
  color: rgba(0,0,0,0.5600000023841858);
  position: absolute;
  top: 512px;
  left: 234px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v5_6 {
  width: 100%;
  height: 77px;
  background: url("../images/v5_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 136px;
  overflow: hidden;
}
.v5_5 {
  width: 192px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 82px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v5_7 {
  width: 74px;
  height: 77px;
  background: rgba(232,106,14,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v5_41 {
  width: 142px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 45px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_42 {
  width: 214px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 131px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_43 {
  width: 154px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 381px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_45 {
  width: 109px;
  color: rgba(232,106,14,1);
  position: absolute;
  top: 7px;
  left: 570px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_8 {
  width: 25px;
  color: rgba(192,83,5,1);
  position: absolute;
  top: 23px;
  left: 32px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_9 {
  width: 26px;
  background: url("../images/v5_9.png");
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 50px;
  border: 5px solid rgba(111,111,111,1);
  transform: rotate(-26deg);
}
.v5_32 {
  width: 474px;
  height: 93px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 407px;
  left: 14px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5_26 {
  width: 474px;
  height: 93px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 603px;
  left: 195px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v5_37 {
  width: 355px;
  color: rgba(0,0,0,0.5600000023841858);
  position: absolute;
  top: 636px;
  left: 234px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v5_34 {
  width: 355px;
  color: rgba(0,0,0,0.5600000023841858);
  position: absolute;
  top: 394px;
  left: 234px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_38 {
  width: 355px;
  color: rgba(0,0,0,0.5600000023841858);
  position: absolute;
  top: 437px;
  left: 51px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_39 {
  width: 355px;
  color: rgba(0,0,0,0.5600000023841858);
  position: absolute;
  top: 581px;
  left: 51px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
