{% block css %}
{% load static %}

    <link rel="stylesheet" href="{% static 'front/css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'front/css/Главная.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'admin_panel/app-assets/css/bootstrap.min.css' %}">

    <script class="u-script" type="text/javascript" src="{% static 'front/js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'front/js/nicepage.js' %}" defer=""></script>


{% endblock css %}