{% block header %}
    {% load static %}
<header class="u-align-center u-clearfix u-custom-color-2 u-header u-header" id="sec-80c6"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-shape u-shape-svg u-text-custom-color-3 u-shape-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
          <svg class="u-svg-link" style="margin-left: 80px;" preserveAspectRatio="none" viewBox="0 0 148 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8c01"></use></svg>
          <svg class="u-svg-content" viewBox="0 0 148 160" x="0px" y="0px" id="svg-8c01"><path d="M104,12.1c16.5,16.2,16.5,42.4,0,58.6s-43.3,16.2-59.8,0s-16.5-42.4,0-58.6S87.5-4,104,12.1 M138.9,106.9
	c-38.6-25.5-91.2-25.5-129.7,0C3.5,110.7,0,117.1,0,124.1V160h148v-35.9C148.1,117.1,144.6,110.7,138.9,106.9L138.9,106.9z"></path></svg>
        </div>
        <a href="{% url 'FrontPage' %}" data-page-id="306678841" class="u-image u-logo u-image-1" data-image-width="604" data-image-height="291" title="Главная">
          <img src="{% static 'front/images/Capture.PNG' %}" class="u-logo-image u-logo-image-1" data-image-width="118.7369">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-3 u-text-hover-palette-2-base" href="{% url 'FrontPage' %}" style="padding: 10px 20px;">Главная</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-3 u-text-hover-palette-2-base" href="{% url 'exercises' %}" style="padding: 10px 20px;">Тренировки</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-3 u-text-hover-palette-2-base" href="{% url 'calories' %}" style="padding: 10px 20px;">Калории</a>

                {% if request.user.is_authenticated == False %}
                <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-3 u-text-hover-palette-2-base" href="{% url 'front-login' %}" style="padding: 10px 20px;">Войти</a></li>
            {% else %}
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-3 u-text-hover-palette-2-base" style="padding: 10px 20px;">{{ request.user }}</a></li>

                 <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-3 u-text-hover-palette-2-base" href="{% url 'front-logout' %}"style="padding: 10px 20px;margin-left:20px;">Выход</a></li>

            {% endif %}
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'FrontPage' %}" style="padding: 10px 20px;">Главная</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'exercises' %}" style="padding: 10px 20px;">Тренировки</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'calories' %}" style="padding: 10px 20px;">Калории</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'recomendtaions' %}" style="padding: 10px 20px;">Рекомендации</a>
</li><li class="u-nav-item">

                    <a class="u-button-style u-nav-link" href="login.html" style="padding: 10px 20px;">Войти</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>

{% endblock %}